*
{
    padding:0;
    margin:0;
    box-sizing: border-box;
}
body
{
    background-color: rgb(238, 235, 235);
}
.navbar
{
    background-color: #32AEB1;
    width: 100%;
    color: rgb(202, 195, 195);
    overflow: hidden;
    
}    
.navbar li a:hover
{
    color: brown;
}
.navbar li
{
    
     float: left; 
    list-style: none;
    text-transform:uppercase;
    margin-right: 30px;
    padding: 25px;
    cursor: pointer;
   
}
.navbar li a
{
    color: rgb(202, 195, 195);
    text-decoration: none;
    font-size: 20px;
}
.navbar ul
{
   float: right;  
    overflow: auto;
    
}
.navbar li:hover
{

    color: brown;
    background-color: rgb(218, 208, 208);

    
    
}
.container
{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.container .items
{
    width: 632px;
    border-radius: 5px;
    height: 200px;
    padding: 15px;
    background-color: white;
    margin: 10px 20px;
    border: 2px solid white;
    box-shadow:0 2px 5px 1px rgb(64 60 67 / 16%);
}
.search-bar
{
    margin: 55px 0px 10px 0px ;
    position: relative;
    top: 25%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 100%;
    margin-left: 500px;
}
.search-bar h1{
    position: absolute;
    margin-top: 20px;
}
.search-bar span
{
    position: absolute;
    margin: 5px 0px 0px 5px;
}
input
{
    position: relative;
    display: inline-block;
    font-size: 20px;
    box-sizing: border-box;
    transition: 0.5s;
    
}
input[type="text"]
{
    background: #fff;
    width: 340px;
    height: 50px;
    border: 2px solid rgb(33, 33, 34);;
    padding: 0 25px;
    left: -5px;
    border-radius: 0px 0px 0px 0px;
    outline: none;
    margin-top: 10px;
}
input[type="tel"]
{
    font-size: 12px;
     width: 45px;
    height: 20px;
    border: none;
    outline: none;
    top: 24px;
    left: 8px;
}
#ico
{
    font-size: 24px;
    position: absolute;
    left: 8px;
    top: 8px;
    color: rgb(209, 13, 13);
}
.location
{
    position: relative;
    left: -100px;
    top: 60px;
    background: #fff;
    width: 100px;
    height: 50px;
    border: 2px solid rgb(33, 33, 34);
    padding: 0 25px;
    border-radius: 10px 0 0 10px;
    outline: none;
    margin-top: 10px;
}
button[type="submit"]
{
    position: relative;
    border-radius: 0 10px 10px 0 ;
    width: 50px;
    height: 50px;
    border: none;
    margin: -10px;
    outline: none;
    cursor: pointer;
    color: white;
    background: rgb(33, 33, 34);
}
#search-ico
{
    
    font-size: 20px;
   
}
button[type="submit"]:hover
{
    background: #208b2e; 
}
.navbar #bmenu
{
    display: none;
}
footer .ftr
{
    background-color: #32AEB1;
    height:300px ;
    width: 100%;
}
@media only screen and (max-width: 600px) 
{
    .navbar
    {
        background-color: #32AEB1;
        width: 100%;
        color: rgb(202, 195, 195);
        overflow: hidden;
        height:60px ;
    }    
    .navbar li
    {
        list-style: none;
        text-transform:uppercase;
        margin-right: 30px;
        padding: 25px;
        cursor: pointer;
       margin: auto;
       
       
    }
    .navbar li a
    {
        color: rgb(202, 195, 195);
        text-decoration: none;
        font-size: 20px;
    }
    .navbar ul
    {
        padding-top:70px ;
        overflow: auto;
        display: flex;
        flex-direction: column;
        width: 100%;
        
    }
    .navbar li:hover
{
    text-align: center;
    align-content: center;
 background-color: #32AEB1;
    color: brown;
    border-top:1px solid rgb(218, 208, 208) ;
    border-bottom:1px solid rgb(218, 208, 208) ;
}
.navbar #bmenu
{
    display: block;
    margin: 20px;
    cursor: pointer;
}
.navbar #bmenu .line1, .line2,.line3
{
    position: relative;
    margin: 5px;
    background-color: #fff;
    width: 20px;
    height: 2px;
}
{
    display: block;
}
.search-bar
{
    position: absolute;
    width: 100%;
    top: -50px;
    margin-left:180px ;
}
.search-bar h1
{
    display: none;
}
.location
{
    width: 80px;
    height: 40px;
    left: -80px;
    top: 50px;
}
input[type="tel"]
{
    top: 10px;
    left: 3.5px;
}
.location span{
    display: none;
}
input[type="text"]
{
    width: 200px;
    height: 40px;
}
button[type="submit"]
{
    width: 50px;
    height: 40px;
}
    
}